<ion-content>
  <div style="padding: 8px 25px 68px 25px;border-top-right-radius: 30px;border-top-left-radius: 30px;">
    <div style="display: flex;flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-direction: row;">
      <div style="margin-top:15px;background-color:#D6DFDC;width:30px;height:5px;border-radius: 25px;">
      </div>

    </div>
    <div style="display:flex;justify-content: space-between;flex-direction: row;">
      <div style="color: #133A2B;font-size: 18px;margin-top: 26px;font-weight: 600;">{{"change_password.change_password_title" | translate}}</div>
      <ion-icon name="close-outline" style="font-size:32px" (click)="close()"></ion-icon>
    </div>
    <div style="display:flex;justify-content: center;align-items: center;margin-top:40px">
      <img src="../../../assets/imgs/forgotPassword.png" style="width:140px"/>
    </div>
   
    
    <div style="margin-top: 26px;">
      <div class="subHeading">{{"change_password.old_password" | translate}}</div>
      <div class="passwordContainer">
        <ion-input 
            [type]="passwordType" 
            [(ngModel)]="old_password"
            placeholder="{{'change_password.old_password' | translate}}" 
            class="paswordInput" 
            clearOnEdit=false
          >
        </ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)="hideShowPassword('password')"
          class="icon"></ion-icon>
      </div>

      <div class="subHeading" style="margin-top:14px">{{"change_password.new_password" | translate}}</div>
      <div class="passwordContainer">
        <ion-input [type]="con_passwordType" [(ngModel)]="new_password"
          placeholder="{{'change_password.new_password' | translate}}" class="paswordInput" clearOnEdit=false>
        </ion-input>
        <ion-icon item-end [name]="con_passwordIcon" class="passwordIcon" (click)="hideShowPassword('con')"
          class="icon"></ion-icon>
      </div>

      <div class="global-button" (click)="changePassword()">
        <div>{{"change_password.change_password_btn" | translate}}</div>
        <ion-icon src="../../assets/imgs/right-arrow.svg"></ion-icon>
      </div>
    </div>

  </div>
</ion-content>