<ion-content>
  <div style="padding: 8px 25px 68px 25px;border-top-right-radius: 30px;border-top-left-radius: 30px;">
    <div style="display: flex;flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-direction: row;">
      <div style="margin-top:15px;background-color:#D6DFDC;width:30px;height:5px;border-radius: 25px;">
      </div>

    </div>
    <div style="display:flex;justify-content: space-between;flex-direction: row;">
      <div style="color: #133A2B;font-size: 18px;margin-top: 26px;font-weight: 600;">{{"others.forgot_password_title" | translate}}</div>
      <ion-icon name="close-outline" style="font-size:32px" (click)="close()"></ion-icon>
    </div>
    
    <div style="margin-top: 26px;">
      <ion-input type="email" [(ngModel)]="email" placeholder="Email" class="textInput" clearOnEdit=false>
      </ion-input>

      <div class="global-button" (click)="forgotPassword()">
        <div>{{"others.reset_btn" | translate}}</div>
        <ion-icon src="../../assets/imgs/right-arrow.svg"></ion-icon>
      </div>
    </div>

  </div>
</ion-content>