ion-toolbar {
    --background: #e9e7ff;
    //padding-top: 16px !important;
  
    ion-icon {
      color: #999da8;
      font-size: 16px;
    }
  }

  .main-content{
    .items-main-div{
        margin-top: 8px;
		display: flex; flex-wrap: wrap;
		// justify-content: center;
		justify-content: flex-start;
		padding: 0px 12px 8px 12px;
		.item-loop-div{
			// width:45%;
			width:47%;
			margin:5px;
			.item-div{
				position: relative;
				border: 1px solid #00000029;
				border-radius:4px;
				// new added ==>
				// min-height: 300px;
				min-height:40px;
				display: flex;
                border-radius: 8px;
				flex-direction: row;
				justify-content: space-between;
                align-items: center;
                font-size: 15px;
				// new added END ==>
				.item-title{
					font-size: 13px; letter-spacing: 0.5px; padding: 5px 5px 0px 10px; font-weight: 500;overflow: hidden;
					text-overflow: ellipsis;
					-webkit-line-clamp: 2;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					width: 98%;
                    align-items: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
				}
                .closeIcon{
                    font-size: 22px;
                    margin-right: 10px;
                }
			
			}
		}
	}
  }